/* RESET Section */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}
*,
::after,
::before {
  box-sizing: border-box;
}
a,
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

body,
input {
  font-family: Arial, Helvetica, sans-serif;
}

/* DEPLOY Section */

.App-header {
  text-align: center;
  padding: 1em;
}

.App-header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 100px;
  margin-bottom: 20px;
}

.container {
  display: block;
  margin: auto;
  padding: 1em;
}

.form-inline {
  /* padding-left: 180px;
  padding-right: 180px; */
  margin: auto;
}

input {
  border-style: none;
  text-align: right;
}

button.btn-success {
  background-color: rgb(130, 199, 184);
  border-color: rgb(130, 199, 184);
}

button.btn-success:hover,
button.btn-success:active,
button.btn-success:focus {
  background-color: rgb(91, 160, 165);
  border-color: rgb(91, 160, 165);
}

p.display {
  color: rgb(91, 160, 165);
}

button.history {
  border-color: rgb(130, 199, 184);
  color: rgb(130, 199, 184);
  margin-left: 1em;
  margin-top: 1em;
}

button.history:hover,
button.history:active,
button.history:focus {
  border-color: rgb(91, 160, 165);
  color: rgb(91, 160, 165);
}
